*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  
}

.container{
    width: 100%;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(lightpink, white, powderblue);
}


.calculator{
      
    background: #e3e4ff;
    border: 3px solid #3c79f5;
    box-shadow:-8px -8px 15px rgba(225, 225, 225, 0.1) , 5px 5px 15px rgba(0, 0, 0, 0.2) ; 
    padding: 20px;
    border-radius:10px ;
    opacity: -2px;
}

.calculator form input {
    border:0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius:10px;
    box-shadow:-8px -8px 15px rgba(225, 225, 225, 0.1) , 5px 5px 15px rgba(0, 0, 0, 0.2) ; 
     background: transparent; 
    font-size: 20px;
     color:#222; 
    cursor: pointer;
    margin: 10px;
}

form .display{
    display: flex;
    justify-content:flex-end;
    margin: 20px 0;
    background:white;
}

form .display input{
    text-align: right; 
    flex: 1;  
    font-size: 45px ;
    box-shadow: none;
}

form input.equal{
    width: 145px;
}

form input.operator{
color: black;
}

H3{
    color:#3C79F5;
    font-size:20px;

}